.mission-img {
    background-image: url(./may-sky.jpg);
    padding-top: 210px;
    background-size: cover;
    background-position: center center;
    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    display: block;
}

.row {
    padding-top: 60px;
}

.row .odd {
    background-color: #DCDCDC;
}

.row .img-circle {
    margin: 1em;
}

.reversed {
    unicode-bidi:bidi-override;
    direction: rtl;
}

.verdanatext {
    font-family: Verdana, Geneva, sans-serif;
}